<html>
    <head>
        <title>
            <%= title %>
        </title>

    </head>
    <body>
        <header>
            Header page
        </header>
        <h1>
            Codeial/<%= title %>
        </h1>

        <footer>
            Footer page
        </footer>
        
    </body>
</html>